/* Resetting default browser styles */
body, h1, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure rounded corners are applied */
}

#question-container {
    margin-bottom: 20px;
}
/* .center{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#options-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #f4f4f4;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

#options-container button:hover {
    background-color: #e0e0e0;
}

#submit-btn {
    margin-left: 42%;
    padding: 12px 24px;
    background-color: #009688;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #00796b;
}

#feedback {
    font-weight: bold;
    text-align: center;
    display: none;
    margin-top: 20px;
    animation: fadeIn 0.5s ease forwards;
    color: #960000;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animation for feedback */
@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.feedback-slide {
    animation: slideInDown 0.5s ease forwards;
}
